<p id="notice"><%= notice %></p>

<p>
  <b>Reviewer:</b>
  <%= @review.reviewer %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>Published:</b>
  <%= @review.published %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
